<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 3.1 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp313-cp313-linux_x86_64.whl size=1156567 sha256=5df2a9bd2a84c54c4305c179e4f66c352e2738292f1a4c12b0de72d6578da07b
  Stored in directory: /home/Wit/.cache/pip/wheels/7f/0c/92/6ec5ca28eb22ed22341110143de753ec622045fbfc750edb26
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/Wit/.local/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (8.29.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: sqlparse in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/lib/python3.13/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/lib/python3.13/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /usr/lib/python3.13/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /home/Wit/.local/lib/python3.13/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/Wit/.local/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached SQLAlchemy-2.0.36-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/Wit/.local/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: prettytable in /home/Wit/.local/lib/python3.13/site-packages (3.12.0)
Requirement already satisfied: ipython in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /usr/lib/python3.13/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /home/Wit/.local/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /home/Wit/.local/lib/python3.13/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/lib/python3.13/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /usr/lib/python3.13/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/Wit/.local/lib/python3.13/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/Wit/.local/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/Wit/.local/lib/python3.13/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [10]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [19]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
print(df.columns)

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

**Note:This below code is added to remove blank rows from table**

In [7]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
conn = sqlite3.connect("my_data1.db")
query = "SELECT DISTINCT Launch_Site FROM SPACEXTBL;"
cursor = conn.cursor()
cursor.execute(query)

unique_launch_sites = cursor.fetchall()
print("Unique Launch Sites:")
for site in unique_launch_sites:
    print(site[0])

Unique Launch Sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [16]:
conn = sqlite3.connect("my_data1.db")
query = """
SELECT *
FROM SPACEXTBL
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5;
"""

cursor = conn.cursor()
cursor.execute(query)
records = cursor.fetchall()
for record in records:
    print(record)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [20]:
conn = sqlite3.connect("my_data1.db")
query = """
SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass
FROM SPACEXTBL
WHERE Customer LIKE 'NASA (CRS)';
"""

cursor = conn.cursor()
cursor.execute(query)
result = cursor.fetchone()

# Display the result
print(f"Total Payload Mass Carried by NASA (CRS): {result[0]}")

Total Payload Mass Carried by NASA (CRS): 45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [22]:
query = """
SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass
FROM SPACEXTBL
WHERE Booster_Version = 'F9 v1.1';
"""

cursor = conn.cursor()
cursor.execute(query)
result = cursor.fetchone()

# Display the result
print(f"Average Payload Mass Carried by Booster Version F9 v1.1: {result[0]}")

Average Payload Mass Carried by Booster Version F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [23]:
query = """
SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTBL
WHERE Landing_Outcome = 'Success (ground pad)';
"""

cursor = conn.cursor()
cursor.execute(query)
result = cursor.fetchone()

# Display the result
print(f"Date of First Successful Landing on Ground Pad: {result[0]}")

Date of First Successful Landing on Ground Pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
query = """
SELECT Booster_Version
FROM SPACEXTBL
WHERE Landing_Outcome = 'Success (drone ship)'
  AND PAYLOAD_MASS__KG_ > 4000
  AND PAYLOAD_MASS__KG_ < 6000;
"""

cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the booster names
print("Boosters with Success on Drone Ship and Payload Mass Between 4000 and 6000:")
for result in results:
    print(result[0])

Boosters with Success on Drone Ship and Payload Mass Between 4000 and 6000:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
query = """
SELECT Landing_Outcome, COUNT(*) AS Total_Count
FROM SPACEXTBL
GROUP BY Landing_Outcome;
"""
cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the results
print("Total Number of Successful and Failure Mission Outcomes:")
for outcome, count in results:
    print(f"{outcome}: {count}")

Total Number of Successful and Failure Mission Outcomes:
Controlled (ocean): 5
Failure: 3
Failure (drone ship): 5
Failure (parachute): 2
No attempt: 21
No attempt : 1
Precluded (drone ship): 1
Success: 38
Success (drone ship): 14
Success (ground pad): 9
Uncontrolled (ocean): 2

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [28]:
query = """
SELECT Booster_Version
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_)
    FROM SPACEXTBL
);
"""

cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the results
print("Booster Versions with Maximum Payload Mass:")
for result in results:
    print(result[0])

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
query = """
SELECT 
    SUBSTR(Date, 6, 2) AS Month,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTBL
WHERE Landing_Outcome LIKE '%Failure (drone ship)%'
  AND SUBSTR(Date, 1, 4) = '2015';
"""

cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the results
print("Records for Failure Landings in Drone Ship in 2015:")
for record in results:
    print(record)

Records for Failure Landings in Drone Ship in 2015:
('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [30]:
# SQL query to rank landing outcomes within the date range
query = """
SELECT Landing_Outcome, COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Outcome_Count DESC;
"""

cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the results
print("Ranked Landing Outcomes Between 2010-06-04 and 2017-03-20:")
for outcome, count in results:
    print(f"{outcome}: {count}")

Ranked Landing Outcomes Between 2010-06-04 and 2017-03-20:
No attempt: 10
Success (drone ship): 5
Failure (drone ship): 5
Success (ground pad): 3
Controlled (ocean): 3
Uncontrolled (ocean): 2
Failure (parachute): 2
Precluded (drone ship): 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>